.about-us::before {
    content: "";
    display: block;
    width: 490px;
    height: 505px;
    background: url("../img/cameraman.png") center center/ cover no-repeat;
}

.about-us {
    display: flex;
}

.about-us_description {
    background: #FFFFFF;
    padding: 70px 200px 70px 81px;
    max-width: 785px;
    height: 455px;
    border-radius: 5px;
    margin-top: 100px;
    margin-left: -133px;
    margin-bottom: 53px;
}

.about-us_description_header {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 37px;
}

.about-us_description_text {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 43px;
    width: 502px;
    line-height: 27px;
}

.about-us .learn-more_button {
    padding: 18px 36px;
}