.breadcrumbs_list {
    display: flex;
    align-items: center;
}

.breadcrumbs_item {
    display: flex;
    align-items: center;
}

.breadcrumbs_item::after {
    content: " / ";
    color: #9A9A9A;
}

.breadcrumbs_item:last-child:after {
    display: none;
}

.breadcrumbs_link {
    color: #9A9A9A;
    font-size: 14px;
    font-weight: 400;
}

.breadcrumbs_item-active .breadcrumbs_link {
    font-weight: 700;
}