.learn-more_button {
    background: #FF5500;
    border-radius: 35px;
    padding: 18px 53px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    border-color: #FF5500;
    font-size: 14px;
}

.learn-more_button:hover {
    background: #FF3D00;
    color: #FFFFFF;
}

.btn-color-white {
    background: #FFFFFF;
    border-color: #FF3D00;
    color: #FF3D00;
}