.btn {
    background: #FF5500;
    border-color: #FF5500;
    border-radius: 35px;
    padding: 18px 53px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px;
}

.btn-color-grey {
    background-color: #8E8E8E;
    border: none;
}

.btn-color-white {
    background: #FFFFFF;
    border-color: #FF3D00;
    color: #FF3D00;
}

.btn:hover {
    background: #FF3D00;
    color: #FFFFFF;    
    transition: color .5s;
    transition: background .5s;
}