.contacts {
    font-style: normal;
    text-align: right;
    margin-top: 5px;
}

.contacts_phone {
    font-size: 26px;
    text-decoration: none;
    color: #FFFFFF;
}

.contacts_workhours-title {
    font-size: 14px;
    color: #FF3D00;
    text-decoration: underline;
    line-height: 1.1px;
}

.contacts_text {
    font-size: 11px;
    font-weight: 400;
    color: #9A9A9A;
}