.footer_container {
    height: 146px;
    border-top: 1px solid #FFFFFF;
    background: #17191C;
    width: 100%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.footer_col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1.1;
    margin-right: 10px;
}

.footer_col-align-right {
    justify-content: flex-end;
    flex: 1;
}