.header {
    padding-top: 26px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1.5;
}

.header_col--align--right{
    justify-content: flex-end;
    flex: 1;
}

.services_header-title {
    width: 780px;
    font-size: 72px;
    color: #FFFFFF;
    font-weight: 800;
    margin-bottom: 14px;
    text-transform: uppercase;
    margin-left: 180px;
}

.services_page_header,
.services_header-title {
    width: 780px;
    font-size: 72px;
    color: #FFFFFF;
    font-weight: 800;
    margin-bottom: 14px;
    text-transform: uppercase;
    margin-left: 180px;
}

.services-section .header {
    height: 416px;
    margin-bottom: 80px;
}