body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #17191C;
    color: #060606;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body,
html {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    min-width: 1200px;
}

.container {
    margin: 0 auto;
    width: 1150px;
    align-content: center;
    color: #060606;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
}