.main-page_background{    
    background: #17191C;
}

.main-page-wrapper {
    background: url("../img/hero.png") center top no-repeat, url("../img/bottom-pic.png") center bottom no-repeat;
}

.production_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 800px;
}