.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners_item {
    display: flex;
    width: 213px;
    height: 132px;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
}

.partners_item:nth-child(4n) {
    justify-content: end;
}

.partners_item:nth-child(4n + 1) {
    margin-left: 0;
    justify-content: start;
}

.partners_link {
    text-decoration: none;
}

.partners_link:hover {
    filter: grayscale(80%);
    transition: filter .3s;
}

.partners_image {
    display: flex;
    align-items: center;
    justify-content: center;
}