.main-content {
    color: #303030;
    padding: 70px 0 29px;
}

.service {
    display: flex;
    padding: 25px 0;
}

.service_img {
    width: 40%;
    margin-right: 5%;
}

.service_content {
    flex: 1;
}

.service_header {
    font-size: 36px;
    font-weight: 700;
    color: black;
    margin-top: 12px;
    margin-bottom: 30px;
}

.service_text {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 33px;
    line-height: 27px;
}

.inner-section {
    background: white;
    color: black;
    padding: 90px 0 75px;
}

.inner-section-bg-grey {
    background: #F4F5F5;
}

.inner-section_title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}