.services_header {
    text-align: center;
    margin-bottom: 233px;
}

.services_header-title {
    width: 70%;
    font-size: 72px;
    color: #FFFFFF;
    font-weight: 800;
    margin-bottom: 14px;
    text-transform: uppercase;
    margin-left: 170px;
}

.services_header-text {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    align-items: center;
    margin-bottom: 39px;
}

.services_description-list_element {
    background-color: #FFFFFF;
}

.services_description-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;
}

.services_description-list_element {
    min-height: 476px;
    min-width: calc(100%/3 - 19px);
    border-radius: 4px;
    padding: 36px 34px 53px 22px;
    margin-right: 27px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
}

.services_description-list_element:last-child {
    margin-right: 0;
}

.services_description_icon {
    width: 84px;
    height: 79px;
    margin-right: 29px;
    margin-bottom: 29px;
}

.services_description-list_content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
}

.services_description_header {
    font-size: 32px;
    font-weight: 700;
}

.services_description_content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.services_description_info {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 10px; */
}

.services_description_info_cell {
    margin-right: 55px;
}
.services_description_info_cell:last-child {
    margin-right: 0px;
}

.services_description_text {
    width: 306px;
    font-size: 14px;
    font-weight: 400;
    color: #666666;
}

.services_description-list_element-active {
    background: #FFFFFF;
    border: 5px solid #CCCCCC;
    border-radius: 5px;
}

.services_learn-more_button {
    display: flex;
    justify-content: left;
    margin-top: auto;
}