.social_networks {
    margin-right: 74px;
    display: flex;
    justify-content: space-between;
}

.social_networks_item {
    margin-right: 10px;
    display: flex;
}

.social_networks_item:last-child {
    margin-right: 0;
}

.social_networks_item_link {
    text-decoration: none;
    width: 36px;
    height: 36px;
    position: relative;
}

.social_networks_item_link::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.network_icon_Telegram .social_networks_item_link {
    background: url("../img/t.png") -66px -10px;
}


.network_icon_VK .social_networks_item_link {
    background: url("../img/vk.png") -10px -10px;
}

.network_icon_Facebook .social_networks_item_link {
    background: url("../img/f.png") -66px -10px;
}

.network_icon_Inst .social_networks_item_link {
    background: url("../img/in.png") -10px -10px;
}

.network_icon_Telegram .social_networks_item_link:hover {
    background: url("../img/t.png") -10px -10px;
}

.network_icon_VK .social_networks_item_link:hover {
    background: url("../img/vk.png") -66px -10px;
}

.network_icon_Facebook .social_networks_item_link:hover {
    background: url("../img/f.png") -10px -10px;
}

.network_icon_Inst .social_networks_item_link:hover {
    background: url("../img/in.png") -66px -10px;
}