.review_tags {
    display: flex;
    align-items: flex-start;
    margin-left: 22px;
}

.tag {
    display: flex;
    font-size: 13px;
    color: #303030;
    border-radius: 35px;
    padding: 10px 25px;
    background-color: #CCCCCC;
}

.tag-bg-pink {
    background-color: #F2D4C9;
}

.tag:hover {
    background: #F2D4BC;
    transition: background 0.2s;
}