.btn {
    font-size: rem(16px);
    font-weight: 800;
    padding: rem(20px) rem(40px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    background: #FEDB3F;
    color: black;
    text-decoration: none;
    border: none;

    &:hover {
        background: #ffa202;
    }

    &--theme--transparent {
        background: transparent;
        color: white;
        text-transform: none;
        font-weight: 400;

        &:hover {
            background: #5e5c59;
        }
    }
}