.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include tablets {
        margin-top: rem(-90px);
    }
}

.head__panel {
    display: none;
    background: #1968B1;
    height: rem(90px);
    width: 100%;

    @include tablets {
        display: flex;
    }
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}

.phone-number {
    font-size: rem(22px);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.phone-number__text {
    white-space: nowrap;
}

.phone-number__icon-elem {
    flex-shrink: 0;
    width: rem(13px);
    height: rem(13px);
    margin-right: rem(12px);
    fill: darkcyan;
    color: chartreuse;
    background: magenta;

    &:hover {
        fill: grey;
        color: brown;
        background: blue;
    }
}