.hero {
    background: url("../img/main-bg.png") center top / cover no-repeat;
    color: white;
    height: 100%;
    padding-top: 0;

    @include tablets {
        background: url("../img/main-bg.png") right top / cover no-repeat;
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(24px) 0 rem(65px);
    @include tablets {
        padding: 0;
        width: 100%;
    }
}

.hero__title-section {
    width: 46%;
    padding: rem(100px) 0 rem(80px);

    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: rem(240px) 0 rem(80px);
    }
    
    @include phones {
        padding: rem(170px) 0 rem(80px);
    }
}

.hero__icons-section {
    @include tablets {
        display: none;
    }
}

.hero__main-title {
    font-size: rem(48px);
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: rem(16px);
    text-transform: uppercase;

    @include phones {
        font-size: rem(40px);
        margin-bottom: 0;
    }
}

.hero__title-desc {
    font-size: rem(21px);
    margin-bottom: rem(54px);

    @include tablets {
        margin-bottom: rem(40px);
    }
}