.order-section {
    background: url("../img/order.png") center center / cover no-repeat;
    color: white;
    padding: rem(55px) 0;
    height: 100%;

    .section__title {
        color: inherit;
    }
}