.order-section {
    background: url("../img/order.png") center center / cover no-repeat;
    color: white;
    padding: 55px 0;
    min-height: 652px;

    .section__title {
        color: inherit;
    }
}