.shop {
    height: 85vh;
    background: #F8FAF9;
    width: 100%;

    @include tablets {
        height: 108vh;
    }

    @include phones {
        height: 105vh;
    }
}

.shop_container {
    display: flex;
    align-items: center;
    justify-content: center;
}