.socials {
    display: flex;
    justify-content: space-between;
}

.social__item {
    display: flex;
    padding: 0 rem(7px);

    @include phones {
        flex-direction: column;
    }
}

.social__item__link {
    width: rem(24px);
    height: rem(24px);
}

.social__item__link-vk {
    background: url("../img/socials.png") -54px -54px;
}

.social__item__link-f {
    background: url("../img/socials.png") -10px -10px;
}

.social__item__link-f:hover {
    background: url("../img/socials.png") -98px -10px;
}

.social__item__link-in {
    background: url("../img/socials.png") -54px -10px;
}

.social__item__link-tv {
    background: url("../img/socials.png") -10px -54px;
}